html body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 25vw;
    height: 40vh;
    border: 1px solid gray;
    position: relative;
}

.black {
    background-color: cadetblue;
}

.white {
    background-color: snow;
}

.box>img {
    width: 35%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 32%;
    /* border: 1px solid red; */
}